TestServiciosHotel/TestWeb/Connected Services/ProxyCliente/HotelWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anulado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoCliente" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reservado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TelefonoCasa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubigeo" nillable="true" type="tns:UbigeoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
  <xs:complexType name="UbigeoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Continente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idContinente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbigeoBE" nillable="true" type="tns:UbigeoBE" />
  <xs:complexType name="ArrayOfClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteBE" nillable="true" type="tns:ClienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteBE" nillable="true" type="tns:ArrayOfClienteBE" />
</xs:schema>