TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyHabitacion/HotelWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHabitacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HabitacionBE" nillable="true" type="tns:HabitacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHabitacionBE" nillable="true" type="tns:ArrayOfHabitacionBE" />
  <xs:complexType name="HabitacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEspecial" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdHabitacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdSede" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipo" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Piso" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HabitacionBE" nillable="true" type="tns:HabitacionBE" />
  <xs:complexType name="ArrayOfSedeBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SedeBE" nillable="true" type="tns:SedeBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSedeBE" nillable="true" type="tns:ArrayOfSedeBE" />
  <xs:complexType name="SedeBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idSede" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SedeBE" nillable="true" type="tns:SedeBE" />
</xs:schema>