TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyHabitacion/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HotelWCF" />
  <xs:element name="ListarHabitacionPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSede" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitacionPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarHabitacionPorFechaResult" nillable="true" type="q1:ArrayOfHabitacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitacionesLibres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSede" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitacionesLibresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarHabitacionesLibresResult" nillable="true" type="q2:ArrayOfHabitacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPrecioHabitacionesPorSede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSede" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPrecioHabitacionesPorSedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarPrecioHabitacionesPorSedeResult" nillable="true" type="q3:ArrayOfHabitacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveHabitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHabitacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveHabitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="DevuelveHabitacionResult" nillable="true" type="q4:HabitacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSede">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarSedeResult" nillable="true" type="q5:ArrayOfSedeBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>