TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyHabitacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioHabitacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HotelWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioHabitacion_ListarHabitacionPorFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionPorFecha" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarHabitacionPorFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionPorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarHabitacionesLibres_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionesLibres" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarHabitacionesLibres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionesLibresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarPrecioHabitacionesPorSede_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrecioHabitacionesPorSede" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarPrecioHabitacionesPorSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrecioHabitacionesPorSedeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_DevuelveHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:DevuelveHabitacion" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_DevuelveHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevuelveHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSede" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSedeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioHabitacion">
    <wsdl:operation name="ListarHabitacionPorFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarHabitacionPorFecha" message="tns:IServicioHabitacion_ListarHabitacionPorFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarHabitacionPorFechaResponse" message="tns:IServicioHabitacion_ListarHabitacionPorFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHabitacionesLibres">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarHabitacionesLibres" message="tns:IServicioHabitacion_ListarHabitacionesLibres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarHabitacionesLibresResponse" message="tns:IServicioHabitacion_ListarHabitacionesLibres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPrecioHabitacionesPorSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarPrecioHabitacionesPorSede" message="tns:IServicioHabitacion_ListarPrecioHabitacionesPorSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarPrecioHabitacionesPorSedeResponse" message="tns:IServicioHabitacion_ListarPrecioHabitacionesPorSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevuelveHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/DevuelveHabitacion" message="tns:IServicioHabitacion_DevuelveHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/DevuelveHabitacionResponse" message="tns:IServicioHabitacion_DevuelveHabitacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarSede" message="tns:IServicioHabitacion_ListarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarSedeResponse" message="tns:IServicioHabitacion_ListarSede_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioHabitacion" type="tns:IServicioHabitacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarHabitacionPorFecha">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/ListarHabitacionPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHabitacionesLibres">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/ListarHabitacionesLibres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrecioHabitacionesPorSede">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/ListarPrecioHabitacionesPorSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevuelveHabitacion">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/DevuelveHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSede">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/ListarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHabitacion">
    <wsdl:port name="BasicHttpBinding_IServicioHabitacion" binding="tns:BasicHttpBinding_IServicioHabitacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HotelWCF/ServicioHabitacion/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>