TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyReserva/HotelWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agencia" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstadoReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFinReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoReserva" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdHabitacion" type="xs:short" />
      <xs:element minOccurs="0" name="IdReserva" type="xs:short" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idReservaAuxiliar" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaBE" nillable="true" type="tns:ReservaBE" />
  <xs:complexType name="ArrayOfReservaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaBE" nillable="true" type="tns:ReservaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaBE" nillable="true" type="tns:ArrayOfReservaBE" />
</xs:schema>