TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyReserva/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HotelWCF" />
  <xs:element name="InsertarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="objReserva" nillable="true" type="q1:ReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="objReserva" nillable="true" type="q2:ReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveReservasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveReservasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="DevuelveReservasClienteResult" nillable="true" type="q3:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveReservaIdAuxiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAuxiliar" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveReservaIdAuxiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="DevuelveReservaIdAuxiliarResult" nillable="true" type="q4:ReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservaFechaEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idEstadoReserva" nillable="true" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservaFechaEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarReservaFechaEstadoResult" nillable="true" type="q5:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>