TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyUbigeo/HotelWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUbigeoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UbigeoBE" nillable="true" type="tns:UbigeoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbigeoBE" nillable="true" type="tns:ArrayOfUbigeoBE" />
  <xs:complexType name="UbigeoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Continente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idContinente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbigeoBE" nillable="true" type="tns:UbigeoBE" />
</xs:schema>