TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyUbigeo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HotelWCF" />
  <xs:element name="ListarDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarDepartamentosResult" nillable="true" type="q1:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProvinciasDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProvinciasDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarProvinciasDepartamentoResult" nillable="true" type="q2:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDistritosProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDistritosProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarDistritosProvinciaResult" nillable="true" type="q3:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveUbigeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="DevuelveUbigeoResult" nillable="true" type="q4:UbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>