TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyConsumo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HotelWCF" />
  <xs:element name="ListarConsumoReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdReserva" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsumoReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="ListarConsumoReservaResult" nillable="true" type="q1:ArrayOfConsumoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarConsumoReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="objConsumoBE" nillable="true" type="q2:ConsumoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarConsumoReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarConsumoReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarConsumoReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelWCF" minOccurs="0" name="objConsumoBE" nillable="true" type="q3:ConsumoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarConsumoReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarConsumoReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>