TestServiciosHotel/CapaAccesoServicios/Connected Services/ProxyCliente/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HotelWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCliente_DevuelveClientePorDNI_InputMessage">
    <wsdl:part name="parameters" element="tns:DevuelveClientePorDNI" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_DevuelveClientePorDNI_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevuelveClientePorDNIResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_InsertarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_InsertarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCliente">
    <wsdl:operation name="DevuelveClientePorDNI">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/DevuelveClientePorDNI" message="tns:IServicioCliente_DevuelveClientePorDNI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/DevuelveClientePorDNIResponse" message="tns:IServicioCliente_DevuelveClientePorDNI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/InsertarCliente" message="tns:IServicioCliente_InsertarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/InsertarClienteResponse" message="tns:IServicioCliente_InsertarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/ActualizarCliente" message="tns:IServicioCliente_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/ActualizarClienteResponse" message="tns:IServicioCliente_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCliente" type="tns:IServicioCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevuelveClientePorDNI">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/DevuelveClientePorDNI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCliente">
    <wsdl:port name="BasicHttpBinding_IServicioCliente" binding="tns:BasicHttpBinding_IServicioCliente">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HotelWCF/ServicioCliente/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>